@charset "utf-8";
/* CSS Document */
body {
font-family: Arial, Tahoma;
font-size: 14px;
background-color:#E6E6E6 !important;
}
 
#main {
width:1300px;
padding: 0;
margin-left: auto;
margin-right: auto;

}
#logo {
	background:url(Image/logo.jpg);
	height:100px;
	
}
#head {
background:url(Imageg/bg1.jpg);
background-size: 100% 400px;
background-repeat:no-repeat;
height: 400px;
border: 1px solid #CDCDCD;
margin-bottom:5px;
}
#menu {
height: 40px;
line-height: 40px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #CDCDCD;
background-color: #1F568B;
margin-bottom:5px;
clear: both;
text-align:center;
font-size:16px;
}
#left {
width: 200px;
min-height: 400px;
border: 1px solid #CDCDCD;
float:left;

margin-bottom: 5px;
}
#content1{
	width:1300px;
	min-height: 200px;
	border: 1px solid #CDCDCD;
	clear:both;
	background-color:#F5F6CE;
	margin-left:25px;
}
#content2{
	width:1300px;
	height: 450px;
	border: 1px solid #CDCDCD;
	clear:both;
	background-color:#BCA9F5;
	margin-left:25px;
}
#content {
width:834px;
min-height: 1000px;
float:left;
margin-left: 5px;
margin-right: 5px;

}
#content-subject{
	min-height:30px;
	background-color:#fce5e5;
	font-size:22px;
	color:#606;
	font-family:"Minion Pro";
	font-weight:bold;
	padding-left:15px;
}
#content-top{
	min-height:360px;

	
}

#content-left-left{
	width:275px;
	/*border: 1px solid #CDCDCD;*/
	float:left;
	background-color:#d7f3b5;
	margin-right:2px;
	margin-left:2px
		
}

#content-center-center{
	width:275px;
	float:left;
	background-color:#d7f3b5;
	margin-right:2px;
}
#content-right-right{
	width:275px;
	float:left;
	background-color:#d7f3b5;
}
#content-center{
	min-height:220px;
	margin-bottom:1px;
	background-color:#FFF;
	clear:both;
	border: 1px solid #CDCDCD;
}
.hinh{
	float:left;
}
.text{
	float:right;
	padding-left:10px;
	font-size:15px;  
	width:500px;
	padding-right:2px;
}
#content-bottom{
	min-height:360px;
}
			.link3{
				color:black;
				text-decoration:none;
			}
            .link2{
                color: blue;
                text-decoration: none;
				font-size:18px;
            }
            
            #content a:visited{
                color:#FE2E2E;
				
            }
            #content a:hover{
                color: teal;
            }


#right {
width: 250px;
min-height: 400px;
border: 1px solid #CDCDCD;
float:right;
margin-bottom:5px;
margin-right:25px;

}
/* Phần tìm kiếm - right*/
.timkiem{
	padding-left:5px;
	background-color:#FFC;
	width:245px;
	min-height:400px;
	padding-bottom:10px;
	
}
.timkiem input[type=text], select{
	padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	line-height:10px;
}
.timkiem input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align:center;
}

.timkiem input[type=submit]:hover {
    background-color: #45a049;
}
#right-noibat{
	min-height:150px;
	border: 1px solid #CDCDCD;
	background-color:#FFF;
	
}
#footer {
	width:1300px;
	margin-left:25px;
height: 200px;
clear: both;
border: 1px solid #CDCDCD;
text-align:center;
font-size:18px;
}
* {
  margin: 0;
  padding: 0;
}
 
/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}
/*==Style cho menu=== xóa các dấu đầu dòng, thêm màu nền và đưa văn bản bên trong ra giữa*/
/*==Style cho menu===*/
#menu ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}

/*  mục con nằm dàng ngang*/
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
.sub-menu li {
  display: none;
}
#menu li {
 position: relative;
}
.sub-menu {
	z-index:1000;
 display: none;
 position: absolute;
}
#menu li:hover .sub-menu {
 display: block;
}
.sub-menu li {
 margin-left: 0 !important;
}

/*Phần footer*/
.container{
	margin: 0 auto;
	padding: 10px;
	position: relative;
}
@media screen and (min-width: 1200px){
	.container{
		padding: 10px 0px;
		position: relative;
		max-width: 1170px;
	}
}
.copyright{
	background: #D8D8D8;
}
.copyright .footer-min{
		width: 100%;
		text-align:center;
}
            .footer-min a:visited{
                color: red;
            }
            .footer-min a:hover{
                color: teal;
            }
/* Phần left*/
            .link{
                color: blue;
                text-decoration: none;
            }
            
            #left a:visited{
                color: red;
            }
            #left a:hover{
                color: teal;
            }
			#le{
				height:100px;
				background-color:#F5F6CE;
				font-size:17px;
				padding-left:2px;
			}
			#chan{
				height:100px;
				background-color:#CFF;
				font-size:17px;
				padding-left:2px;
			}
			#moigioi{
				height:150px;
				border: 1px solid #CDCDCD;
				
			}
			.hinhmoigioi{ float:left;}
			.noidung{float: right;}
#contact input[type=text] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background-color:#CCC;
}

#contact input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align:center;
}

#contact input[type=submit]:hover {
    background-color: #45a049;
}

#contact {
	margin-left:250px;
	text-align:left;
    border-radius: 5px;
    padding: 20px;
	width:100%;
	font-size:16px;
	font-weight:bold;
}
.btn-blue{
	text-transform:uppercase;
	padding:10px 32px;
	border-radius:4px;
	color:#fff;
	background:#0098da;
	display:inline-block;
	border:none;
	margin-left:60px;
	text-decoration:none;
	}
.btn-blue:hover{background:#0a85ba}
			
.footer1{
		width:1300px;
	margin-left:25px;
	min-height: 180px;
	clear: both;
	border: 1px solid #CDCDCD;
	background-color: #F8E0E0;
	font-size:15px;
	margin-top:5px;
}
.col-sm-3{
	min-height:100px;
	float:left;
	margin-left:20px;
	text-decoration:none;
	width:300px;
}
.col-sm-3 a{text-decoration:none; color:black;}
.col-sm-3 li{ padding-left:40px; padding-top:8px}
